@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* Nav bar */
.nav {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-link {
    color: rgba(212, 231, 36, 0.87);
    font-family: 'Open Sans';
    padding-right: 5rem;
}

.nav-link:hover {
    background-color: rgb(45, 91, 219);
    color: white;
    border-bottom: white solid 3px;
}
    
.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url('img/ateneul.jpg');
    opacity: 0.95;
    transition: opacity 1s ease 2s;
}

.slide2 {
    background-image: url('img/ateneul2.jpg');
    opacity: 0.9;
    transition: opacity 1s ease 2s;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open-sans';
}

.slide-content h1 {
    text-transform: uppercase;
    color: #fff;
}

.slide-content h2 {
    text-transform: uppercase;
    color: #fff;
}

.button {
    background-color: black;
    color: rgba(212, 231, 36, 0.87);
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    transition-delay: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(45, 91, 219);
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

.shows {
    height: 9rem;
    text-align: center;
    padding: 2rem;
    font-family: 'Open Sans';
}

.shows h2 {
    font-weight: bolder;
    color: rgb(6, 6, 151);
}

.shows p {
    font-weight: bolder;
}

#artists {
    background: black;
    padding: 5rem 0 5rem 0;
}

#artists img {
    border-radius: 3%;
}

#artists h5 {
    color: white;
    padding-top: 0.8rem;
}

#about {
    background-image: url(img/ateneulR.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans';
    padding: 0 25% 4rem 25%;
}

#about p {
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    font-style: italic;
    padding-bottom: 2rem;
}

button.btn{
    text-decoration: none;
    border: 1px black solid;
    color: black;
    text-transform: uppercase;
    border-radius: 0;
}

button.btn:hover {
    text-decoration: none;
    background-color: rgb(11, 11, 104);
    border: 1px black solid;
    color: white;
}

footer {
    text-align: center;
    background: black;
    height: 30%;
}

.social {
    padding: 3rem 0 1rem 0; 
    color: white;
}

.fab {
    padding: 1rem; 
    font-size: 2rem;
}

footer p {
    color: white; 
}

@media screen and (max-width: 580px) {
    .row {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .shows {
        height: auto;
    }
    .social{
        float: none;
    }
}